<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">{{$pageTitle}}{{/pageTitle}}</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        {{#username}}
        <div class="btn-group mr-2">
            <span class="btn btn-sm btn-outline-secondary">
                <i class="fas fa-user"></i> {{username}}
            </span>
        </div>
        {{/username}}
        {{#actionButton}}
        <a href="{{url}}" class="btn btn-sm btn-primary">
            <i class="fas {{icon}}"></i> {{text}}
        </a>
        {{/actionButton}}
    </div>
</div>