<nav class="col-md-2 d-none d-md-block sidebar">
    <div class="sidebar-header">
        <h4>Sistema de Gestión</h4>
    </div>
    <div class="sidebar-sticky">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link" href="/dashboard">
                    <i class="fas fa-home"></i> Dashboard
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/carreras">
                    <i class="fas fa-graduation-cap"></i> Carreras
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/planes">
                    <i class="fas fa-book"></i> Planes de Estudio
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/materias">
                    <i class="fas fa-chalkboard"></i> Materias
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/profesor">
                    <i class="fas fa-chalkboard-teacher"></i> Profesores
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/user/create">
                    <i class="fas fa-users"></i> Usuarios
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/logout">
                    <i class="fas fa-sign-out-alt"></i> Cerrar sesión
                </a>
            </li>
        </ul>
    </div>
</nav>